SPOTIFY_REDIRECT_URI=http://127.0.0.1:5001/callback

# --- Salle POP ---
SPOTIFY_POP_CLIENT_ID=your_pop_client_id
SPOTIFY_POP_CLIENT_SECRET=your_pop_client_secret
SPOTIFY_POP_PLAYLIST_ID=your_pop_playlist_id

# --- Salle NOSTALGIE ---
SPOTIFY_NOSTALGIE_CLIENT_ID=your_nostalgie_client_id
SPOTIFY_NOSTALGIE_CLIENT_SECRET=your_nostalgie_client_secret
SPOTIFY_NOSTALGIE_PLAYLIST_ID=your_nostalgie_playlist_id

PORT=5001
ADMIN_PASSWORD=change_me
