SPOTIFY_CLIENT_ID=your_client_id_here
SPOTIFY_CLIENT_SECRET=your_client_secret_here
SPOTIFY_REDIRECT_URI=http://127.0.0.1:5001/callback
SPOTIFY_PLAYLIST_ID_POP=your_pop_playlist_id
SPOTIFY_PLAYLIST_ID_NOSTALGIE=your_nostalgie_playlist_id
PORT=5001